<h1><%= @post.title %></h1>
<p><%= @post.text %></p>
<p>Comments: <%= @post.comments.count %></p>
<p>Likes: <%= @post.likes.count %></p>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
    <div class="comment">
        <p><%= comment.text %></p>
    </div>
<% end %>

